<settings>
    <servers>
        <server>
            <id>jboss-qa-releases</id>
            <username>hudson</username>
            <password>opt2i5R</password>
        </server>

        <server>
            <id>jboss-qa-snapshots</id>
            <username>hudson</username>
            <password>opt2i5R</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <mirrorOf>central</mirrorOf>
            <name>central-cache</name>
<!--            <url>https://repository.engineering.redhat.com/nexus/repository/central</url>-->
            <!--            <url>https://nexus.corp.redhat.com/repository/maven-central</url>-->
            <url>https://repository.eapqe.psi.redhat.com:8443/repository/maven-central/</url>
            <id>central-cache</id>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>jboss-qa-repos</id>
            <activation>
                <property>
                    <name>!disable-jboss-repository</name>
                </property>
            </activation>
            <repositories>
                <repository>
                    <id>jboss-snapshots</id>
                    <url>https://repository.jboss.org/nexus/content/repositories/snapshots</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>daily</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>id-jb-eap-8.2-maven-build</id>
                    <name>jb-eap-8.2-maven-build</name>
                    <layout>default</layout>
                    <url>https://download.devel.redhat.com/brewroot/repos/jb-eap-8.2-maven-build/latest/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>eap-qe-maven-proxy-repository</id>
                    <name>JBoss EAP QE Maven Proxy Repository</name>
                    <url>=http://repository.eapqe.psi.redhat.com:8081/repository/customer-8.2.0.Alpha-CR25/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>jboss-qa-snapshots</id>
                    <url>https://repository.jboss.org/nexus/content/repositories/snapshots</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>id-jb-eap-8.2-maven-build</id>
                    <url>https://download.devel.redhat.com/brewroot/repos/jb-eap-8.2-maven-build/latest/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>eap-qe-maven-proxy-repository</id>
                    <name>JBoss EAP QE Maven Proxy Repository</name>
                    <url>=http://repository.eapqe.psi.redhat.com:8081/repository/customer-8.2.0.Alpha-CR25/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>